* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #031025;
  height: 20vh;

  .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3e4e60;

    p{
      text-align: center;
    }
  }
}
